*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
height:100vh;
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(180deg,#ffd6ea,#ffeaf4,#fff7fb);
}

.container{

background:white;

padding:50px;

border-radius:25px;

box-shadow:0 20px 50px rgba(255,100,170,.2);

text-align:center;

position:relative;

z-index:10;

max-width:600px;

width:90%;
}

h2{
margin:20px 0 35px;
color:#ff4d88;
line-height:1.5;
}

.buttons{
display:flex;
justify-content:center;
gap:25px;
}

button{

padding:15px 40px;

font-size:20px;

border:none;

border-radius:50px;

cursor:pointer;

transition:.25s;
}

#yes{
background:#ff5b99;
color:white;
}

#yes:hover{
transform:scale(1.08);
}

#no{
background:#ececec;
position:fixed;
}

.heart{

position:fixed;

font-size:24px;

pointer-events:none;

animation:fall linear forwards;
}

.rain-image{

position:fixed;

width:70px;

pointer-events:none;

animation:fall linear forwards;
}

@keyframes fall{

0%{
transform:translateY(-100px) rotate(0deg);
opacity:1;
}

100%{

transform:translateY(120vh) rotate(720deg);

opacity:0;

}
}